h1 {
    text-align: left;
    font-weight: bold;
    font-family: sans-serif;
    background-color: black;
    color: white;
    padding: 0.5%;
}
h1 > span {
    color: aqua;
}
h2 {
    text-align: center;
    font-style: italic;
    font-family: sans-serif;
    background-color: blueviolet;
    color: white;
    padding: 0.5%;
}
h3 {
    text-align: right;
    text-decoration: underline;
    font-family: sans-serif;
    background-color: rgb(166, 197, 294);
    padding: 0.5%;
}
