body {
	margin: 0;
	padding: 0;
	background-color: black;
}
h1,
h2,
p {
	margin: 0;
	padding: 0;
}
.title {
	padding-top: 20px;
	color: #fff;
	text-align: center;
}
.score {
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 40px;
}
.game-board {
	margin: 25px auto;
	vertical-align: middle;
	width: 260px;
	height: 208px;
	/* position relative to allow absolute for pac-man */
	position: relative;
}
.row {
	display: flex;
	justify-content: center;
}
.row div {
	width: 20px;
	height: 20px;
	margin: 2px;
	border: 1px solid #aaa;
}
.brick {
	background-color: blue;
}
.coin {
	background: url(Assets/coin.gif) no-repeat center;
	background-size: 15px;
}
.cherries {
	background: url(Assets/cherries.png) no-repeat center;
	background-size: 15px;
}
#pac-man {
	background: url(Assets/pac-man.gif) no-repeat center;
	background-size: cover;
	width: 20px;
	height: 20px;
	position: absolute;
	transition: 150ms;
}
.ghost {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 20px;
	height: 20px;
	position: absolute;
	transition: 150ms;
}
