<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<meta charset="utf-8" />
		<title>Authors</title>
		<meta name="description" content="" />
		<meta name="author" content="" />

		<!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<link
			href="//fonts.googleapis.com/css?family=Raleway:400,300,600"
			rel="stylesheet"
			type="text/css"
		/>

		<!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='css/normalize.css') }}"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='css/skeleton.css') }}"
		/>

		<!-- Favicon
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<link
			rel="icon"
			type="image/png"
			href="{{ url_for('static', filename='assests/CodingDojoLogo.png') }}"
		/>
	</head>
	<body>
		<!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<main
			class="container"
			style="
				padding-top: 10vh;
				display: grid;
				grid-template-columns: 1fr 1fr;
			"
		>
			<!-- Left of Page
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

			<div class="container">
				<h2>
					{% if not display_single %} New Book {% else %} Title: {{
					books[0].title }} {% endif %}
				</h2>

				<!--------------------------  
					Display All 
						Create Book
						–––––––––––––––––––– -->

				{% if not display_single %}
				<form
					action="/create_book"
					method="POST"
					class="new-item u-margin-top"
				>
					<input
						type="text"
						name="title"
						placeholder="Book Name"
						style="width: 100%"
					/>
					<input
						type="number"
						name="num_of_pages"
						placeholder="Number of Pages"
						style="width: 100%"
					/>
					<input type="submit" value="Add Book" />
				</form>

				<!-------------------------- 
					Display Author 
						Who Favorited Book
						–––––––––––––––––––– -->

				{% else %}
				<div class="u-border u-margin-top">
					<table>
						{% for author in favorites %}
						<tr>
							<td>{{ author.name }}</td>
						</tr>
						{% endfor %}
					</table>
				</div>
				{% endif %}

				<!-------------------------- 
					Always Display 
						Route Buttons
						–––––––––––––––––––– -->

				<button class="route-button">
					{% if not display_single %}
					<a href="/authors">Authors</a>
					{% else %}
					<a href="/books">Books</a>
					{% endif %}
				</button>
			</div>

			<!-- Right of Page
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

			<div class="container">
				<h2>
					{% if not display_single %} All Books {% else %} Add {{
					books[0].title }}'s Favorite {% endif %}
				</h2>

				<!-------------------------- 
					Display All
						Authors Table
						–––––––––––––––––––– -->

				{% if not display_single %}
				<div class="u-border u-margin-top">
					<table>
						{% for book in books %}

						<tr class="book-row">
							<td>
								<a href="/books/{{ book.id }}">
									{{ book.title }}
								</a>
							</td>
							<td>{{ book.num_of_pages }}</td>
						</tr>
						{% endfor %}
					</table>
				</div>

				<!-------------------------- 
					Display Input
						Add Book's Favorite
						–––––––––––––––––––– -->

				{% else %}
				<form
					action="/books/add_favorite"
					class="new-item u-margin-top"
					method="POST"
				>
					<input
						type="hidden"
						name="book_id"
						value="{{ books[0].id }}"
					/>
					<select name="author_id">
						{% for author in authors %}
						<option value="{{ author.id }}">
							{{ author.name }}
						</option>
						{% endfor %}
					</select>

					<input type="submit" value="Add" />
				</form>
				{% endif %}
			</div>
		</main>

		<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	</body>
</html>
