<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<meta charset="utf-8" />
		<title>Recipe Share</title>
		<meta name="description" content="Display Recipe Page" />
		<meta name="author" content="Evan Schultz" />

		<!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<link
			href="//fonts.googleapis.com/css?family=Raleway:400,300,600"
			rel="stylesheet"
			type="text/css"
		/>

		<!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='css/normalize.css') }}"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='css/skeleton.css') }}"
		/>

		<!-- Favicon
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<link
			rel="icon"
			type="image/png"
			href="{{ url_for('static', filename='assests/CodingDojoLogo.png') }}"
		/>
	</head>
	<body>
		<main class="container" style="padding-top: 5vh">
			<!-- Navbar
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

			<div class="flex u-nav-container" style="align-items: center">
				<h1>Welcome, {{user_first_name}}</h1>
				<div class="flex">
					<button style="margin-right: 2rem">
						<a href="/recipes">Recipes</a>
					</button>
					<button>
						<a href="/logout">Logout</a>
					</button>
				</div>
			</div>

			<!-- Header
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

			<div class="flex">
				<h2>{{recipe.name}}</h2>
				<h4>
					Posted By: {% if recipe.creator_first_name !=
					user_first_name%} {{recipe.creator_first_name}} {% else %}
					You {% endif %}
				</h4>
			</div>

			<!-- Recipe Display
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
			<div class="u-border">
				<div class="recipe-content">
					<p>Description</p>
					<p>{{recipe.description}}</p>
				</div>

				<div class="recipe-content">
					<p>Under 30 Minutes</p>
					{% if recipe.under_30_min == 1 %}
					<p>Yes</p>
					{% else %}
					<p>No</p>
					{% endif %}
				</div>

				<div class="recipe-content">
					<p>Instructions</p>
					<p>{{recipe.instructions}}</p>
				</div>

				<div class="recipe-content">
					<p>Date Made</p>
					<p>{{recipe_date_made}}</p>
				</div>
			</div>
		</main>

		<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	</body>
</html>
