* {
    margin: 0 auto;
    border: 0;
    padding: 0;
    outline: 0;
    font-family: "roboto", sans-serif;
}
.navbar,
.main {
    padding: 0 15%;
}
.navbar {
    height: 4rem;
    display: flex;
    align-items: center;
}
.navbar {
    background-color: black;
}
.font-2 {
    font-size: 1.4rem;
    color: black;
}
.font-3 {
    font-size: 1.2rem;
    color: #aaaaaa;
}
h1 {
    font-size: 2.5rem;
    color: #f3f3f3;
}
.links {
    width: 100%;
    margin-left: 1rem;
}
#links a {
    text-decoration: none;
    margin: 2rem;
}
#links a:focus {
    color: #f3f3f3;
}
#button {
    background-color: #4aa0b5;
    color: #f3f3f3;
    font-size: 1.4rem;
    padding: 0.3rem 0;
    width: 7rem;
    border: 0.1rem solid #6ca8b7;
    border-radius: 1%;
}
