<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap"
			rel="stylesheet"
		/>
		<title>Play</title>
		<style>
			/* ///////////// zero css ///////////// */
			* {
				margin: 0 auto;
				border: 0;
				padding: 0;
				outline: 0;
				font-family: 'roboto', sans-serif;
				color: #eee;
			}
			/* ///////////// body styling ///////////// */
			body {
				height: fit-content;
				padding: 1vw;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				flex-wrap: wrap;
				background-color: #050505;
			}
			/* ///////////// div styling ///////////// */
			.box {
				/* border: solid 0px #ccc; */
				border-radius: 1rem;
				margin: 1vw;
				height: 20.5vw;
				width: 22.5vw;
				background-color: #171717;
			}
		</style>
	</head>
	<body>
		<nav>
			<h1></h1>
		</nav>
		{% for i in range(num) %}

			<div class="box" style="background-color: {{ color }};"></div>

		{% endfor %}
	</body>
</html>
