/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fixed width container class that will "auto-center" itself */
.container {
    width: 1200px;
    margin: 0 auto;
    font-family: "roboto", sans-serif;
}
h3 {
    font-size: 3rem;
    font-weight: 300;
}
.btn {
    border: 0.2rem solid black;
    background-color: rgb(62, 120, 221);
    color: rgb(245, 245, 245);
    font-size: x-large;
    font-weight: lighter;
    padding: 0.25rem 2rem;
    box-shadow: 0.25rem 0.2rem 0 rgba(0, 0, 0, 1);
    border-radius: 2%;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(51, 51, 51);
    padding: 0 3rem;
    height: 4.6rem;
}
.nav-title {
    color: rgb(240, 240, 240);
}
.search-field {
    width: 25rem;
    background: #f3f3f3;
    border: 0.1rem solid #aaaaaa;
    border-radius: 2%;
    padding: 0.3rem 0.5rem;
}
.main {
    display: flex;
}
.main-left {
    flex: 2;
}
.main-right {
    flex: 1;
}
.box {
    border: 0.2rem solid black;
    width: inherit;
    height: fit-content;
    /* height: 10rem; */
    margin: 2rem 1rem;
    border-radius: 0.5%;
    padding: 1rem;
}
.main-left > .box {
    margin-left: 0;
}
.main-right > .box {
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}
.main-left .box:nth-of-type(n + 2),
.main-right .box:nth-of-type(n + 2) {
    margin-top: 0;
}
.main-right .btn {
    background-color: #9dc284;
    color: black;
    font-size: 2rem;
}
